# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Tooling caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.uv/

# OS / editor
.DS_Store
.idea/

# Coverage / tests
htmlcov/
.coverage
SOME_DATA